body{
    background-color: black;
    color: white;
}

h1{
    margin-top: 10vh;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p{
    font-size: 20px;
    text-align: center;
}